.idea/
*.iml
terraform.tfstate
terraform.tfstate.backup
.terraform/
terraform.tfvars
.tmp
bin
bin2
gitops
module
tmp
.kubeconfig
.namespace
.terraform.lock.hcl
git_repo
git_token
.github
test/stages/gitops-output.json
.DS_Store
